SECRET_KEY=example
DEBUG=True

DB_NAME=exampledb
DB_USER=exampleuser
DB_PASSWORD=examplepassword
DB_PORT=exampleport

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DEFAULT_FROM_EMAIL=email@gmail.com
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=email@gmail.com
EMAIL_HOST_PASSWORD=password